<style>
body {
  background-color: #000000;
  img {
  border-radius: 8px;
}
h1.a {
  color: #ffffff;
  text-align: center;
  font-family: the-seasons, sans-serif;
  font-style: normal;
}
h2.a {
  font-family: gimlet-display, serif;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  background-color: #000000;
}
h2.b {
  font-family: gimlet-display, serif;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  background-color: #868686;
}
h2.c {
  font-family: gimlet-display, serif;
  font-style: normal;
  color: #000000;
  text-align: left;
  background-color: #ffffff;
}
p {
  font-size: 20px;
  font-family: roboto-mono, monospace;
  font-style: normal;
}
header {
  background-color: #420000;
  h1: #ffffff;
}
.btn-group .button {
  background-color: #420000;
  border: none;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  font-size: 64px;
  margin: 4px 2px;
}
footer {
    background-color: #420000;
    text-align: center;
}